

# Pin assignments for the Nexys3 Board.

net nreset loc=B8; # Push-Button BTNS
net player1_left_button loc=C4; # BTNL (Push-Button Switch)
net player1_right_button loc=A8; # BTNU (Push-Button Switch)

net player2_left_button loc=C9; # BTND (Push-Button Switch)
net player2_right_button loc=D9; # BTND (Push-Button Switch)

net board_clk loc=V10; # 100 MHz board clock
net vsync loc=P7; # VGA-VSYNC
net hsync loc=N6; # VGA-HSYNC

net VGA_R<0> loc=U7; # VGA-RED0
net VGA_R<1> loc=V7; # VGA-RED1
net VGA_R<2> loc=N7; # VGA-RED2
net VGA_G<0> loc=P8; # VGA-GRN0
net VGA_G<1> loc=T6; # VGA-GRN1
net VGA_G<2> loc=V6; # VGA-GRN2
net VGA_B<0> loc=R7; # VGA-BLU1
net VGA_B<1> loc=T7; # VGA-BLU2