<div class="row">
    <a href="#page2" class="btn btn-light btn-lg ml-auto" ng-controller="Scroller" ng-click="backToService($event)">Back</a>
</div>
<div class="row justify-content-center">
    <h2 class="text-center">Choose Recipe</h2>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6" ng-repeat="recipe in recipes" ng-click="saveRecipeandScroll($event)" ng-attr-id="{{recipe.id}}">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{recipe.name}}</h4>
                <p>{{recipe.description}}</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <a href="editor.html" class="btn btn-info btn-lg ml-auto mr-auto">Create New Recipe</a>
</div>