<div class="row">
    <a href="#page6" class="btn btn-light btn-lg ml-auto" ng-controller="Scroller" ng-click="backToIngr($event)">Back</a>
</div>
<h2 class="text-center">Application Script</h2>
<h5>{{errorMessage}}</h5>
<div class="row justify-content-center">
    <select class="form-control col-2 mr-auto" id="language" ng-model="lang" ng-change="updateScript()">
        <option value="java" selected>Java</option>
        <option value="javascript" disabled="">JavaScript</option>
    </select>
    <textarea class="form-control" name="script" rows="10">{{application_script}}</textarea>
</div>