<div class="row">
    <a href="#page-top" class="btn btn-light btn-lg ml-auto" ng-controller="Scroller" ng-click="backToCity($event)">Back</a>
</div>
<div class="row justify-content-center">
    <h2 class="text-center">Select Category</h2>
</div>
<form>
    <div class="form-group">
        <input type="text" class="col-md-8 ml-auto mr-auto form-control" placeholder="Search Services">
    </div>
</form>
<div class="row justify-content-center">
    <div class="col-sm-4 item" ng-repeat="service in services" ng-click="saveServiceandScroll($event,'page3')" ng-attr-id="{{service.name}}">
        <a class="link">
            <div class="caption">
                <div class="caption-content">
                    <h4 class="text-center">{{service.name}}</h4>
                </div>
            </div>
            <img class="service-img" ng-src="{{service.image}}" alt="">
        </a>
    </div>
</div>